@import 'normalize.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

$primary-color: #C90E0E;
$fs-btn: 14px;
$primary-back-color: #F0F0F0;
$text-color: #313131;
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}
.container {
    width: 100%;
    max-width: 1620px;
    padding: 0px 150px;
}
.header {
    display: flex;
    justify-content: center;
    &__body {
        margin: 40px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.menu {
    width: 500px;
    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        &-item {
            &:hover {
                & a {
                    color: $primary-color;
                }
            }
            & a {
                color: #000;
                text-decoration: none;
            }
        }
    }
  }

.outline-btn {
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(201, 14, 14, 0.15);
    &:hover {
        background-color: $primary-color;
        color: #fff;
        cursor: pointer;
    }
}
.btn {
    padding: 20px 45px;
    font-size: $fs-btn;
}
.primary-btn {
    background-color: $primary-color;
    color: #fff;
    border: 1px solid transparent;
    &:hover {
        cursor: pointer;
    }
}
.preview {
    display: flex;
    justify-content: center;
    background-color: $primary-back-color;
    &__body {
        padding: 65px 150px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        color: #222222;
        font-size: 36px;
        line-height: 120%;
        font-weight: normal;
        margin-bottom: 10px;
    }
    &__text {
        color: $text-color;
        font-size: 17px;
        line-height: 144%;;
        max-width: 555px; 
    }
    &__article {
        margin: 0px;
    }
    &__buttons {
        margin-top: 30px;
    }
    &__primary-btn {
        margin-right: 20px;
    }
}